# ==========================
# PYTHON
# ==========================

__pycache__/
*.py[cod]
*.pyo
*.pyd

venv/
.venv/
env/

# ==========================
# FASTAPI
# ==========================

*.log

# ==========================
# ENV
# ==========================

.env

# ==========================
# MYSQL
# ==========================

*.sql.bak

# ==========================
# NODE
# ==========================

node_modules/

npm-debug.log*

yarn-error.log*

package-lock.json

# ==========================
# REACT
# ==========================

dist/

build/

# ==========================
# VSCODE
# ==========================

.vscode/

# ==========================
# SISTEMA
# ==========================

.DS_Store

Thumbs.db